
/* Global Styles */
html {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f3f7f9;
}

fieldset {
  background: white;
}

.tertia-text {
  font-size: 1.285rem;
}

.normal-text {
  font-size: 1rem;
}

.petite-text {
  font-size: 0.85rem;
}

.grid-margin-x.no-bullet {
  margin-left: -.9375rem;
}

/* Card Styles */
.card {
  margin-top: 1.5rem;
  margin-bottom: 0;
  border-radius: 3px;
}

.card figure {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card .card-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -20%);
  transition: all 200ms ease;
}

.card figure:hover .card-actions {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.card-section .fa {
  margin-right: 10px;
}

.card .list-price-strike {
  color: #cc4b37;
}

.card-actions .button {
  border-radius: 3px;
}

.card.is-in-cart {
  position: relative;
  overflow: visible;
  border: 2px solid #1779ba;
}

.card.is-in-cart::before,
.card.is-in-cart::after{
  position: absolute;
  top: 0;
  right: 0;
}
.card.is-in-cart::before {
  content: "";
  width: 30px;
  height: 30px;
  background: #1779ba;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.card.is-in-cart::after {
  content: "\f07a";
  color: white;
  font-family: FontAwesome;
  transform: translate(50%, -50%);
}

.card.is-in-cart .card-actions .success {
  display: none;
}

/* Cart Styles */
.off-canvas {
  transition: transform 300ms ease;
}

.cart {
  width: 350px;
  padding: 0;
  -webkit-transform: translateX(350px);
  transform: translateX(350px);
}

.cart-header,
.cart-content {
  padding: 1rem 2rem;
}

.cart-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #333;
  color: white;
}

.cart-content {
  max-height: 100%;
  padding-top: 90px;
  overflow: scroll;
}

.drawer-item {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  position: relative;
  border-bottom: 1px solid #c3c3c3;
}

.drawer-item:last-of-type {
  border-bottom: none;
}

.drawer-item .media-object {
  margin-bottom: 0;
}

.drawer-item img {
  width: 60px;
}

.drawer-item .subheader {
  margin-top: 20px;
}

.drawer-button {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.remove-item-button {
  margin-top: -12px;
  padding: 5px 8px 7px !important;
  position: absolute;
  top: 50%;
  right: 0;
  background: #eb3a3e;
  border-radius: 3px;
  color: white;
  line-height: 0.9em;
  font-weight: bold;
  transform: translateY(-50%);
}

.remove-item-button:hover {
  color: white;
  background: #d03639;
}

/* Switch Styles */
.switch.tiny {
  margin-top: 0.5rem;
}

.switch .switch-paddle {
  margin-right: 0.5rem;
}

.switch-inline-label {
  color: black;
  display: inline-flex;
  vertical-align: top;
  font-weight: 400;
}

/* Card Styles */
[class*="card--"] {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

[class*="card--"] > figure img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

[class*="card--"] .card__title {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

[class*="card--"] .card__content {
  padding: 15px;
  background: white;
}

/* Star / Actions */
[class*="circle-actions"] {
  display: flex;
  width: 50%;
  height: 35px;
  flex-direction: row-reverse;
  position: absolute;
  top: 15px;
  right: 15px;

  /* &:hover button:nth-child(2) {
    transform: translateX(calc(-100% - 10px)) rotate(0);
  }

  &:hover button:nth-child(1) {
    transform: translateX(calc(-200% - 20px)) rotate(0);
  } */
}

[class*="circle-actions"] button {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border-radius: 50%;
  transform: translateX(0) rotate(360deg);
  transition: transform 200ms ease-in-out;
}

[class*="circle-actions"] button:focus {
  outline: none;
}

[class*="circle-actions"] button:hover:not(:disabled) {
  cursor: pointer;
}

[class*="circle-actions"] button:hover:not(:disabled) .fa {
  font-size: 22px;
}

[class*="circle-actions"] button .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: font-size 100ms ease-in-out;
}

.card--game {
  transition: all .5s cubic-bezier(0.175,  0.885, 0.320, 1.275);
  transform: scale(1);
}

.card--game .card__circle-actions .fa:before {
  content: '\f006';
  font-family: 'FontAwesome';
}

.card--game.is-selected .card__circle-actions .fa:before {
  content: '\f005';
}

.card--game.is-selected {
  transform: scale(1.07);
}

.card--game.is-selected [class*="circle-actions"] button:hover {
  cursor: initial;
}

.card--game.is-selected [class*="circle-actions"] button:hover .fa {
  font-size: 14px;
}

.list--voting {
  margin-bottom: 0;
}

.list--voting li {
  padding-left: 20px;
}

.voting-game {
  opacity: 1;
  transition: all 300ms ease;
}

.card--vote {
  padding: 1rem 30px;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #bbb;
}

.card--vote:hover {
  cursor: pointer;
}

.card--vote::before {
  content: attr(data-votes);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 55px;
  height: 55px;
  margin-left: -30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #cacaca;
  border: 1px solid #808080;
  border-radius: 50%;
}

.voting-game.is-winner ~ .voting-game:not(.is-winner) {
  opacity: .3;
}

/* selects */
.Select {
  position: relative;
  font-size: 1rem;
}

.Select button {
  height: 2.4375rem;
  width: 100%;
  margin: 0 0 1rem;
  padding: .5rem 2rem .5rem .5rem;
  position: relative;
  border: 1px solid #cacaca;
  transition: box-shadow .5s, border-color .25s ease-in-out;
  text-align: left;
}

.Select button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: .5rem;
  transform: translateY(-50%);
  border-top: 4px solid #8a8a8a;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.Select button:hover {
  cursor: pointer;
}

.Select button:focus {
  box-shadow: 0 0 5px #cacaca;
  border-color: #8a8a8a;
  outline: none;
}

.Select .option-list {
  width: 120%;
  padding: .5rem 0;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #8a8a8a;
  border-radius: 3px;
  box-shadow: 0 0 5px #cacaca;
  opacity: 0;
  transform: translateY(15px);
  transition: all .25s ease-in-out;
  z-index: -1;
}

.Select.is-open .option-list {
  opacity: 1;
  transform: translateY(0);
  z-index: 999;
}

.Select .option-list::before,
.Select .option-list::after {
  content: "";
  position: absolute;
  left: 10px;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.Select .option-list::before {
  bottom: 100%;
  border-bottom-color: #4e4e4e;
}

.Select .option-list::after {
  margin-bottom: -1px;
  bottom: 100%;
  border-bottom-color: white;
}

.Select .option-list li {
  padding: .2rem .5rem;
}

.Select.is-open .option-list li:hover {
  cursor: pointer;
  background-color: #1779ba;
  color: white;
}

.Select .option-list li.is-disabled {
  background: #e2e2e2;
  cursor: default;
  color: #0a0a0a;
}

.Select .option-list li:last-of-type {
  border-bottom: none;
}

/* overlay styles */
.modal {
  width: auto;
  height: auto;
  max-height: 80%;
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #8a8a8a;
  opacity: 0;
  transition: all .25s ease-in-out;
}

.main-content {
  position: relative;
  transition: filter .25s ease-in-out;
}

body.is-overlaying {
  overflow: hidden;
}

body.is-overlaying .main-content {
  filter: blur(5px);
}

body.is-overlaying .main-content::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

body.is-overlaying .modal.is-showing {
  opacity: 1;
  z-index: 1001;
}

body.is-overlaying .modal--voting.is-showing {
  width: 650px !important;
  height: auto !important;
  overflow: scroll;
}

/* user drawer */
.user-drawer {
  width: 25%;
  max-width: 250px;
  margin-bottom: -35px;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform .25s ease-in-out;
  transform: translateY(calc(-100% + 34px));
}

.user-drawer.is-open {
  transform: translateY(0);
}

.user-drawer button {
  margin-bottom: 0;
}

.user-drawer button:focus {
  outline: none;
}

.user-drawer ul {
  margin-bottom: 0;
}

.user-drawer li {
  position: relative;
  padding: 1rem 1rem 1rem 45px;
}

.user-drawer li::before,
.user-drawer li::after {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.user-drawer li::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #8a8a8a;
  text-transform: uppercase;
}

.user-drawer li::after {
  content: attr(data-letters);
}

.user-drawer-content {
  padding: 1rem;
  background: white;
  border-left: 1px solid #8a8a8a;
  border-right: 1px solid #8a8a8a;
}
